body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: #4f29f0;
  size: 1rem;
}

a:hover {
  color: #c8bcff;
}

header {
  width: 100%;
  background-color: whitesmoke;
  text-align: left;
  display: flex;
  justify-content: center;
  position: fixed; /* Fixe la navbar en haut */
  top: 0;
  left: 0;
  background-color: whitesmoke;
  z-index: 1000;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}

.navbar .liens {
  display: flex;
  gap: 2rem;
}

.navbar .menu-burger {
  color: #4f29f0;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

#logo {
  width: 50px;
  height: 50px;
}

.conncetion {
  display: flex;
  gap: 10px;
}

.button-inscris {
  background-color: whitesmoke;
  color: #4f29f0;
  border: 1px solid #4f29f0;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  outline: none;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.button-connection {
  background-color: #4f29f0;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  outline: none;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}
